@model ChangePasswordViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
        <h5>Сменить пароль</h5>

        <form asp-action="ChangePassword" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="CurrentPassword" class="col-form-label">Текущий пароль</label>
                <input required asp-for="CurrentPassword" type="password" class="form-control">
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="col-form-label">Новый пароль</label>
                <input required asp-for="NewPassword" type="password" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}