@model AdminPanel.MVC.Models.ProfileViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
        <div class="row justify-content-center">
            <h2>Профиль</h2>
        </div>

        @{
            List<string> roles = ["Admin", "HeadManager", "Manager"];
            string? role = roles.FirstOrDefault(role => User.IsInRole(role));

            @if (role is not null)
            {
                <div class="form-group mb-3">
                    <label class="col-form-label">Роль</label>
                    <input value="@role" type="text" class="form-control" disabled>
                </div>
            }
        }

        <form asp-action="ChangeEmailAndFullname" method="post">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <div class="form-group mb-3">
                <label asp-for="FullName" class="col-form-label">ФИО</label>
                <div class="row">
                    <div class="col">
                        <input required asp-for="FullName" type="text" class="form-control">
                    </div>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="col-form-label">Email</label>
                <div class="row">
                    <div class="col">
                        <input required asp-for="Email" type="email" class="form-control">
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row justify-content-center mb-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>

        @if (Model.Faculty is not null)
        {
            <div class="form-group mb-3">
                <label asp-for="Faculty!.Name" class="col-form-label">Факультет</label>
                <input asp-for="Faculty!.Name" type="text" class="form-control" disabled>
            </div>
        }
        <div class="row justify-content-center mt-4 mt-10">
            <a class="btn btn-success" asp-controller="Account" asp-action="PasswordChange">Сменить пароль</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}